
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}
@model DashboardModel
<h1>Dashboard</h1>

<div class="Dashboard">
    <div class="tile">
        <h2>Wien</h2>
        <p>Temperatur: @Model.Wien &deg;C</p>
    </div>
    <div class="tile">
        <h2>New York</h2>
        <p>Temperatur: @Model.NewYork &deg;C</p>
    </div>
    <div class="tile">
        <h2>Sydney</h2>
        <p>Temperatur: @Model.Sydney &deg;C</p>
    </div>
    <div class="tile">
        <h2>Tokio</h2>
        <p>Temperatur: @Model.Tokio &deg;C</p>
    </div>
</div>
<style>
    .dashboard {
        display: flex;
        flex-wrap: wrap;
    }

    .tile {
        flex: 1 0 50%; /* Jede Kachel soll 50% der Breite einnehmen, damit zwei Kacheln in einer Reihe angezeigt werden */
        padding: 20px;
        box-sizing: border-box;
    }
</style>